body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
 
}
.section{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 80px 0px;
}
.fix-width{
    width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    background-color: #3882F6;
    padding: 10px 40px;
    color: #F9FAF8;
    font-size: 18px;
    border-radius: 5px;
}


/* Section 1 */


.section-one{
    background-color:#1f2937 ;
    padding: 20px;
}

.content-text h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.links a, .content-text p{
    font-size: 18px;
    color: #ccced2;
}
.links .logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}
.links{
    display: flex;
    gap: 20px;
}
.content{
    display: flex;
    gap: 20px;
}
.section-one .fix-width .content
{
    padding: 80px 0px;
}
 

/* Section 2 */
.section-two{

}
.section-two .fix-width h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color:#1f2937;
}
.item-container{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    gap: 20px;
}
.item{
    width:210px;
    font-size: 18px;
    color: #858589;
}

/* Section 3 */

.section-three{
    background-color: #E5E7EB;

}
.section-three .fix-width blockquote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    margin: 0px;
    font-style: italic;

}

.section-three .fix-width p {
    text-align: right;
    font-size: 24px;
    font-weight: 700;

}

/* Section 4 */
.section-four{

}
.section-four .fix-width {
    background-color: #3882F6;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}
.section-four .fix-width .content-text p{
    color:#ccced2;
}
.section-four .fix-width .content-text h3{
    color:#E5E7EB;
    font-size: 24px;
    font-weight: 700;
}
.section-four .fix-width button{

    border-color: #F9FAF8;

}
/* Footer */

.footer {
    background-color: #1F2937;
    padding: 20px;
}
.footer p {
    color:#F9FAF8;
    font-size: 24px;
}